name: KICS Scan

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  kics:
    name: Kics Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - name: run kics Scan
        uses: checkmarx/kics-github-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          ignore_on_exit: results
          enable_annotations: true
          enable_comments: true
          enable_jobs_summary: true
          # 555ab8f9-2001-455e-a077-f2d0f41e2fb9: Unpinned Actions Full Length Commit SHA
          exclude_queries: "555ab8f9-2001-455e-a077-f2d0f41e2fb9"
          comments_with_queries: true
          output_path: ./results
          output_formats: json
      - name: Display results
        run: |
          cat ./results/results.json

      - name: Upload results as artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: kics-results
          path: ./results/

      - name: Upload SARIF to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ./results/results.sarif
